main{
  width: 100%;
  padding-top: 85px;
}
.main {
  margin: auto;
  max-width: 1140px;
  margin-top: 50px;
}

.font-p-title, a {
  font-size: medium;
  color: #585858;
} a:hover{color: #585858; text-decoration: underline;}

ul.horizontal-list {
  min-width: 100%;
  list-style: none;
  margin-left: -30px;
}

ul.horizontal-list li {
  padding: 0 4px;
  display: inline;
}

.small-images {
  width: 16%;
}

.checked {
  color: orange;
}
.color-selected {
  font-size: xx-large;
  font-weight: 600;
  padding-bottom: 8px;
  width: 30px;
  height: 30px;
  border: none;
  border-spacing: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd4f;
  box-shadow: 0 0 1px 3px #cecece96;
  cursor: pointer;
}.color-selected:hover{background-color: #ddddddb4;}.color-selected:disabled{color: #c0c0c0; background-color: #dddddd4f; cursor: default;}
.color-option {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.btn-chart {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 200px;
  height: 36px;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  outline: none;
}
.btn-add-bag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 200px;
  height: 36px;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  outline: none;
}
.btn-buy {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 300px;
  height: 36px;
  font-size: 12px;
  background-color: #db3022;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
}

.bintang {
  color: orange;
}

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  margin-top: 18px;
  float: left;
  width: 70%;
}

.right {
  text-align: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
  border-radius: 25px;
}

.bar-5 {
  width: 80%;
  height: 10px;
  background-color: #db3022;
  border-radius: 25px;
}
.bar-4 {
  width: 0%;
  height: 10px;
}
.bar-3 {
  width: 0%;
  height: 10px;
}
.bar-2 {
  width: 0%;
  height: 10px;
}
.bar-1 {
  width: 0%;
  height: 10px;
}

.price {
  display: flex;
  justify-content: space-between;
}

.plus {
    color:black
}

.minus{
    color:white
}

/* Small */
@media (max-width: 767.98px) {
  .btn {
    position: fixed;
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white !important;
    text-align: center;
  }

  .btnBtm {
    margin: 2px;
  }

  .btnGrup {
    display: none;
  }
}

/* Medium */
@media (min-width: 768px) and (max-width: 991.98px) {
  .btn {
    position: fixed;
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white !important;
    text-align: center;
    padding: 5;
  }

  .btnBtm {
    margin: 2px;
  }

  .btnGrup {
    display: none;
  }
}
@media screen and (max-width : 900px){
  main{padding-top: 65px;}
  .main{margin-top: 40px;}
}